[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[scripts]
start = "python app.py"

[packages]
flask = "*"
firebase-admin = "*"
flask-cors = "==3.0.8"

[requires]
python_version = "3.7"
